
/* Configurações para a seção do catálogo */
.catalog {
    padding: 50px 20px;
    background-color: #f9f9f9;
    background-image: url("../img/imgProdutos/augustine-wong-li0iC0rjvvg-unsplash\ 1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /* Estilo para alinhar os elementos da seção */
  .catalog-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
  }
  
  /* Estilizando os itens do catálogo */
  .catalog-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 20px;
    flex: 2; /* Ocupa mais espaço */
  }
  
  .catalog-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .catalog-item p {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    font-weight: 700;
    margin-right: 30px;
  }
  
  /* Estilizando o texto ao lado dos produtos */
  .catalog-text {
    flex: 1; /* Menor proporção */
    padding: 20px;
    border-radius: 8px;
    font-family: "IM Fell English SC", serif;
  }
  
  .catalog-text h2 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #333;
  }
  
  .catalog-text p {
    font-size: 22px;
    line-height: 1.5;
    color: #555;
  }
  