/* Configurações para a seção do contato */
/* Configurações para a seção do catálogo */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 950px;
  width: 100%;
  padding: 10px;
   background-color: #f8f8f8;
   border-radius: 8px;
}

/* Estilo básico */
aside {
  max-width: 400px;
  padding: 10px;
  flex: 1;
}

.contact h2 {
  font-family: "IM Fell English SC", serif;
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  color: #333;
}

.contact p {
  text-align: c;
  font-family: "Times New Roman";
  font-size: 20px;
  line-height: 1.8;
  color: #555;
}

.contact-redes-sociais {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.contact form {
  flex: 1;
  margin: 10 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding: 0 10px;
}

.contact input,
.contact textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contact button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.contact button:hover {
  background-color: #575757;
}
