/* Configurações para a seção do contato */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 1000px;
  width: 100%;
  padding: 10px;
  /* background-color: #f8f8f8; */
  border-radius: 8px;
}

/* Estilo básico */
aside {
  max-width: 400px;
  padding: 10px;
  flex: 1;
}

.contact h2 {
  font-family: "IM Fell English SC", serif;
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  color: #333;
}

.contact p {
  text-align: c;
  font-family: "Times New Roman";
  font-size: 20px;
  line-height: 1.8;
  color: #555;
}

.contact-redes-sociais {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  color: #e3e1e1;
}

.contact form {
  flex: 1;
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding: 0 10px;
}

.contact input,
.contact textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.contact button {
  padding: 10px;
  background-color: #c7c7c7;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}
.contact button:hover {
  background-color: #999898;
}

#mensagemFeedback {
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  min-height: 1.5em;
}
#mensagemFeedback.visible {
  opacity: 1;
}
