/* Estilo geral da seção "Sobre" */
.about {
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
}

.about-content h2 {
  font-family: "IM Fell English SC", serif;
  text-align: left;
  margin-bottom: 30px;
  font-size: 30px;
  color: #333;
}

.about {
  padding: 20px;
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.about p {
  max-width: 600px;
}

/* Estilo do container para texto e imagem */
.about-text-image {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}

/* Estilo do texto */
.about-text-image p {
  font-family: "Times New Roman";
  font-size: 20px;
  line-height: 1.8;
  color: #555;
  text-align: left;
}

.about-text-image img {
  width: 300px;
  border-radius: 8px;
}
